In [ ]:
# for loop diye 1-5 porjonto jog korar system...

total = 0

for i in range(1,5):
    total += i
print(total)

In [3]:
# same jinis while loop diye korar system..

In [4]:
total2 = 0
j = 1
while j < 5:
    total2 = total2 + j
    j = j + 1
print(total2)

10

# jokhon niscit hoye jani na j kokhon aida ses hobe tokhon while loops use korte hobe....

In [5]:
count = 0
while count < 17:
    print(count)
    count = count + 1

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16

In [6]:
#another example here...

In [7]:
count = 0
count = 15
while count > 0:
  print(count)
  count = count - 1

15
14
13
12
11
10
9
8
7
6
5
4
3
2
1

In [8]:
# Jodi 1 theke 100 porjonto print kori for loop diye abar while loop diye....

In [9]:
#for loop

for i in range(1,20):
    print(i)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19

In [10]:
#while loop

count = 0
while count < 20:
    print(count)
    count = count + 1

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19

In [11]:
2 in [1,2,3,4]

True

In [12]:
'a' in 'a world'

True

In [13]:
d = {'mykey': 345}

345 in d.keys()

False

In [14]:
d = {'mykey': 345}

345 in d.values()

True

In [15]:
mylist = [10,20,30,40]

In [16]:
min(mylist)

10

In [17]:
max(mylist)

40